body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    color: #4f83d1;
}

.mp, .cuentadni, .datos {
    margin-bottom: 20px;
    text-align: left;
}

h2 {
    margin-bottom: 5px;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

.icon-img {
    width: 24px; /* Ajusta el tamaño según el tamaño de tus imágenes */
    height: auto;
    margin-right: 5px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }
}
