body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.image {
    margin-right: 20px;
}

.image img {
    max-width: 150px;
    border-radius: 50%;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h3 {
    color: #333;
}

h4 {
    color: #555;
}

p {
    color: #666;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #7cb8eb;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.visit {
   
    text-align: end;
    padding: 10px;
}